<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    {{> header}}
    <h1>{{title}} Page</h1>
    <p>Some text</p>
    {{> footer}}
  </body>
</html>
