<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    {{> header}}
    <h1>Welcome {{capitalizeIt name "to my website"}} !! </h1>
    {{> footer}}
  </body>
</html>
